<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 1</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="css/exercise.css">
</head>
<body>
    <header id="head">
        <h1>Exercise 1</h1>
        <i class="ri-arrow-right-circle-line next"></i>
</header>
    <main class="main">
        <div class="section1">
            <h1>Exercise Info</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum libero quisquam illo accusantium ut? Quis debitis libero nostrum suscipit, quo earum dolore tenetur. Obcaecati adipisci cumque vitae aliquam. Dolores itaque, eum molestiae provident similique quidem soluta fugit modi velit repellat illum non omnis nobis quia voluptates cupiditate aut quam rerum.</p>
        </div>
        <div class="section2">
            <h1>Exercise Video</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/AzV3EA-1-yM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </main>
</body>
</html>