<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FITNESS HUB</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="css/home_after.css">
</head>
<body>
    <header class="container">
        <div class="header_left">
            <h1>
                FITNESS HUB
            </h1>
        </div>
        <div class="header_right">
            <i class="ri-account-pin-circle-line user"></i>
        </div>
</header>
<main>
    <div class="card"><h1>BMI</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam vitae maiores dolorem optio saepe perspiciatis nostrum itaque culpa tenetur aliquam.</p>
<button><a href="/bmi_index"><i class="ri-arrow-right-s-line"></i></a></button></div>
    <div class="card"><h1>Calorie Maintenance</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam vitae maiores dolorem optio saepe perspiciatis nostrum itaque culpa tenetur aliquam.</p>
<button><a href="/maintenance-calories"><i class="ri-arrow-right-s-line"></i></a></button></div>
    <div class="card"><h1>Begin your Journey</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam vitae maiores dolorem optio saepe perspiciatis nostrum itaque culpa tenetur aliquam.</p>
<button><a href="/journey"><i class="ri-arrow-right-s-line"></i></a></button></div>
</main>
</body>
</html>