<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FITNESS HUB</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header class="container">
        <div class="header_left">
            <h1>
                FITNESS HUB
            </h1>
        </div>
        <div class="header_right">
            <P><a href="/login">Sign In</a></P>
            <P><a href="/register">Sign Up</a></P>
        </div>
</header>
<main class="container">
    <section class="section1">
    <div class="sec1_left">
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.  Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        </p>
        <button><a href="/login">Start your Journey</a></button>
    </div>
    <div class="sec1_right">
        <img src="image/Fitness stats-amico.png" alt="">
    </div>
</section>
</main>
</body>
</html>